@import './_normalize';

$blue: #0e90d2;

body {
  background: #eee;
  color: #333;
}

header {
  height: 50px;
  line-height: 50px;
  background: $blue;
  color: #fff;
  text-align: center;
  width: 100%;
}
